<%= form_for(@building) do |f| %>
  <% if @building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% @building.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </label>
  </div>
  <div class="field">
    <label>
      <%= f.label :height %><br />
      <%= f.number_field :height %>
    </label>
  </div>

  <% @cities.each do |city| %>
    <div class="check_boxes"> 
      <label>
        <%= radio_button_tag "building[city_id]", city.id, city.id == @building.city_id %>
        <%= city.name %>
      </label>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
