%section#buildingtable
  / building table section
  %section#city-select
    / Start of checkbox form
    %form
      %table
        - @cities.in_groups_of(3, false).each do |city_by_3|
          %tr
            - city_by_3.each do |city|
              %td
                %label.check-boxes
                  = check_box_tag "view[#{city.id}]", 1, @selected_cities.include?("#{city.id}"), id: "view_#{city.name}"
                  = city.name
      %div#show_slected_city_btn
        %input.building_btn{type: "submit", value: "Update Cities!"}
    / Checkbox form ends here!

  %div#table_div
    %table#buildings_display_table
      %thead
        %tr
          %th{:scope => "col"} Name
          %th{:scope => "col"} Height
          %th{:scope => "col"} Zip
          %th{:scope => "col"} City
          %th{:scope => "col"}
      %tbody
        - @buildings.each do |building|
          %tr
            %td.buildingname= link_to building.name, building
            %td= building.height
            %td= building.zipcode
            %td= building.city.name
            %td.delete-entry= link_to 'x', building, method: :delete, data: { confirm: "Permanently delete #{building.name}?" }
  %br
/ end of building table section
%section#wrapper{ :style => "width: #{@buildings.count * 120}px;" }
  / wrapper for building graphics
  = render partial: 'building', collection: @buildings