<section id="buildingtable"><!--building table section-->
      <section id="links">
        <button class="building_btn"><%= link_to 'New Building', new_building_path %></button>
        <div class="building_btn"></div>
        <button class="building_btn"><%= link_to 'Cities', cities_path %></button>
      </section><!-- end of link buildingtable buttons-->

      <section id="city_select">
        <br />
        <form>
            <table>
              <% @cities.in_groups_of(4, false).each do |city_by_4| %>
              <tr>
                <% city_by_4.each do |city| %>
                <td>
                  <label class="checkboxes">
                  <%= check_box_tag "view[#{city.id}]", 1, @selected_cities.include?("#{city.id}"), id: "view_#{city.name}" %>
                  <%= "#{city.name}" %>
                  </label>
                </td>
                <% end %>
              </tr>  
              <% end %>
              <br>
              <tr>
                <td align="center" colspan="4">
                  <input class="building_btn" type="submit" value="Show Selected Cities!" />
                </td>
              </tr>
            </table>
        </form>
      </section>

    <table>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Height</th>
          <th scope="col">City</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @buildings.each do |building| %>
        <tr>
          <td class="buildingname"><%= building.name %></td>
          <td><%= building.height %></td>
          <td><%= building.city.name %></td>
          <td><%= link_to 'Show', building %></td>
          <td><%= link_to 'Edit', edit_building_path(building) %></td>
          <td><%= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br />
  </section><!-- end of building table section -->

<section id="wrapper"><!-- wrapper for building graphics -->
   <%= render partial: 'building', collection: @buildings.order("height") %>
</section>
