%section#buildingtable
  / building table section
  %section#links
    %button.building_btn= link_to 'New Building', new_building_path
    .building_btn
    %button.building_btn= link_to 'Cities', cities_path
  / end of link buildingtable buttons
  %section#city_select
    %br
    /Start of checkbox form
    %form
      %table
        - @cities.in_groups_of(3, false).each do |city_by_3|
          %tr
            - city_by_3.each do |city|
              %td
                %label.check-boxes
                  = check_box_tag "view[#{city.id}]", 1, @selected_cities.include?("#{city.id}"), id: "view_#{city.name}"
                  = city.name
      %div#show_slected_city_btn
        %input.building_btn{type: "submit", value: "Show Selected Cities!"}
    / Checkbox form ends here!

  %div#table_div
    %table#buildings_display_table
      %thead
        %tr
          %th{:scope => "col"} Name
          %th{:scope => "col"} Height
          %th{:scope => "col"} Address
          %th{:scope => "col"} City
          %th{:scope => "col"}
      %tbody
        - @buildings.each do |building|
          %tr
            %td.buildingname= link_to building.name, building
            %td= building.height
            %td= building.zipcode
            %td= building.city.name
            %td= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' }
  %br
/ end of building table section
%section#wrapper
  / wrapper for building graphics
  = render partial: 'building', collection: @buildings
