<section id="buildingtable"><!--building table section-->
      <section id="links">
        <div class="building_btn"><%= link_to 'New Building', new_building_path %></div>
          <div id="links_divider"></div>
        <div class="building_btn"><%= link_to 'Cities', cities_path %></div>
      </section><!-- end of link buildingtable buttons-->

      <div id="city_select">
        <form>
              <% @cities.each do |city| %>
                <%= "#{city.name}" %>
                <%= check_box_tag "view[#{city.id}]", 1, @selected_cities.include?("#{city.id}"), id: "view_#{city.name}" %>
              <% end %>
              <br>
              <br>
              <input type="submit" value="Show Selected Cities!" />
        </form>
      </div>
    <section id="link_bottom_divider"></section>
    <table>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Height</th>
          <th scope="col">City</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @buildings.each do |building| %>
        <tr>
          <td><%= building.name %></td>
          <td><%= building.height %></td>
          <td><%= building.city.name %></td>
          <td><%= link_to 'Show', building %></td>
          <td><%= link_to 'Edit', edit_building_path(building) %></td>
          <td><%= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br />
  </section><!-- end of building table section -->

  <div id="wrapper"><!-- wrapper for building graphics -->
   <%= render partial: 'building', collection: @buildings.order("height") %>
  </div>
