<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @building.name %>
</p>

<p>
  <strong>Height:</strong>
  <%= @building.height %>
</p>

<p>
  <strong>City:</strong>
  <%= City.find_by_id(@building.city_id).name %>
</p>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
