!!!
%html{:style => "height: 100%"}
  %head
    %title Sizeup
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false
    = javascript_include_tag "application", "data-turbolinks-track" => false
    = csrf_meta_tags
  %body
    .container-fluid
      / Navigation bar
      %ul.nav.nav-pills
        %li
          = link_to 'Home', buildings_path
        %li
          = link_to 'Cities', cities_path
        %li
          = link_to 'Add New Building', new_building_path
      / End of navigation bar
    .row
      /#flying_bird
      = yield
